<div class="hero">
  <br />
  <div class="frosty col-6 offset-3 text-center ">
      <br />
      <h1>Learn chess from the pros</h1>
      <br />
      <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
      <br /><br />
  </div>
</div>
<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Challenging Courses</h3>
    <br />
    <p>Choose from a variety of courses to help you learn how to play and ultimately master this centuries old game.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Learn from the Masters</h3>
    <br />
    <p>Learn the great game of chess from the masters of the game.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Join our Community</h3>
    <br />
    <p>Join a global community of chess enthusiasts online.</p>
  </div>
</div>

