@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Marcellus+SC');

.navbar {
  font-family: 'CallunaSansRegular', serif;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
/*  background: image_url('pattern.png');*/
}

.navbar-light a.navbar-brand {
  font-family: 'CallunaSansRegular', serif;
  font-size: 60px;
  font-weight: 100;
  color: #f9415d;
}